:root {
  --accent-color: rgb(192, 120, 170);
  --background-color: rgba(61,46,66);
  --menubar-background: rgba(61,46,66, .7);
  --footer-background: rgba(61,46,66, .2);
  --button-background: rgba(46, 45, 45, 0.541);
  --button-background-hover: rgba(50, 50, 50, 0.8);
  --button-stroke: rgba(255, 255, 255, 0.05);
  --critical: rgb(129, 48, 61);
  --build-details-background: rgb(61, 46, 66);

  --diff-add-background: rgba(0, 155, 70, 0.5);
  --diff-change-background: rgba(0, 72, 155, 0.5);
  --diff-remove-background: rgba(155, 0, 26, 0.5);

  --build-list-grid-size: 230px;
}

/* @media only screen and (max-width: 200px) {
  .build-list {
    background-color: red;
      grid-template-columns: repeat(2, var(--build-list-grid-size)) !important
    }
}

@media only screen and (min-width: 600px) {
  .build-list {
    background-color: green;
    grid-template-columns: repeat(4, var(--build-list-grid-size));
  }
}

@media only screen and (min-width: 955px) {
  .build-list {
    background-color: green;
    grid-template-columns: repeat(4, var(--build-list-grid-size));
  }
}

@media only screen and (min-width: 1235px) {
  .build-list {
        background-color: green;
    grid-template-columns: repeat(5, var(--build-list-grid-size));
  }
} */

body {
  background-image: url("/assets/img/background-grid.png");
  background-color: var(--background-color);
  background-blend-mode: overlay;
}

.make-bold-tag-fancy-pls b{
  color: var(--accent-color);

  /* glow too bright. eyes hurt */
  /* text-shadow: 1px 1px 4px var(--accent-color); */
}

.menhera-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


body {
  min-height: 100vh;
}

.error-frame {
  display: flex;
  flex-flow: column;
  
  color: white;
  font-size: 200%;
  /* font-family: "Gotham Rounded Bold"; */
  font-weight: bold;
  overflow: hidden;

  /* % and vh crop it ???? whyy */
  height: 350px;
  width: 350px;
  margin: 20px;
}

.full-page {
  width: 100%;
  height: 100vh;
}

.stroke {
  border: 2px solid var(--button-stroke);
}

.menhera-button {
  display: flex;
  flex-direction: row;
  
  background-color: var(--button-background);
  border: 1px solid var(--button-stroke);
  padding: 8px;
  margin: 8px;
  
  height: 15%;
  border-radius: 8px;
  align-items: center;

  /* font-family: "Gotham Rounded Regular"; */
  font-weight: normal;
  white-space: nowrap;
  width: fit-content;
  height: fit-content;
}

.make-button-smol {
  font-size: 60%;
}

.menhera-button:hover {
  background-color: var(--button-background-hover)
}

.menuBar {
  display: flex;
  background-color: var(--menubar-background);
  width: 100%;
  height: 6vh;
  z-index: 20;
  align-items: center;
  justify-content: center;
  padding-left: 15px;
  padding-right: 15px;
  font-size: larger
}

.menuBarItem {
  /* font-family: 'Gotham Rounded Regular'; */
  font-size: medium;
  border: none;
  outline: none;
  height: fit-content;
  width: fit-content;
  text-decoration: none;
  color: white;
  padding-left: 15px;
  cursor: pointer;
  border-radius: 5px;
  pointer-events: all;
  font-size: larger;
}

.menuBarItem:hover {
  color: var(--accent-color);
  font-weight: bolder;
  text-shadow: 1px 1px 4px var(--accent-color);
}

.blog-list {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.topbar-margin {
  padding-top: 95px;
}

.build-list {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, var(--build-list-grid-size));
  justify-content: center;
  justify-items: center;
  align-items: center;
  width: 70%;
}

.build-list-gap {
  gap: 25px;
}

.build-list-build {
  display: flex;
  aspect-ratio: 2.5;
  align-items: center;
  justify-content: center;
  background-color: rgba(61, 46, 66, 1);
  text-align: center;
  padding: 20px;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.page-title {
  display: none;
  position: absolute;
  color: var(--accent-color);
  font-weight: bold;
  font-style: italic;
  padding: 15px;
  top: 0px;
  font-size: xx-large;
}

.page-title-critical {
  /* animation: blink-animation 1s steps(5, start) infinite; */
  color: var(--critical) !important;
}


/* ughh
.page-title-fix-home {
  position: absolute !important;
} */

.page-title::before {
  content: "/";
}

.blog-list-post {
  background-color: rgba(61,46,66, 1);
  padding: 20px;
  width: fit-content;
  cursor: pointer;
}

.build-list-build:hover {
  background-color: rgb(74, 56, 80);
}

.blog-list-post:hover {
  background-color: rgb(74, 56, 80);
}

.menuBar-logo {
  width: 100%;
}

.blog-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: larger;
  word-wrap: normal;
}

.blog-separator {
  background-color: white;
  width: 90%;
  height: 1px;
  margin: 15px;
}

.center-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.vertical-center-thing {
  display: flex;
  flex-direction: column;
}

.blog-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
  max-width: 100%;
  gap: 15px;
}

.blog-content img {
  width: 20%;
  height: 20%;
}

.bad-div-that-should-never-go-on-top-of-the-menu-bar-please-oh-god-why-is-frontend-such-pain {
  display: flex;
  flex-direction: column;
  z-index: -1;
}

.blog-description {
  color: rgba(255, 255, 255, .6)
}

.gotham-font {
  /* font-family: "Gotham Rounded Regular"; */
  font-family: Inconsolata;
}

.blog-div {
  padding: 9vh;
  display: flex;
  flex-direction: column;
  /* background-color: rgba(61,46,66, .5); */
  height: fit-content;
  width: 100%;
  gap: 25px;
}

.blog-return-container {
  position: absolute;
  padding: 15px;
  top: 50px;
}

.blog-return:hover {
  color: var(--accent-color);
  text-shadow: 1px 1px 4px var(--accent-color);
  cursor: pointer;
}

.description-and-date {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.menhera-outline {
  outline: rgba(255, 255, 255, 0.1) solid 2px;
  border-radius: 5px;
}

.hljs {
  background-color: #282828 !important;
  padding: 15px !important;
  outline: rgba(255, 255, 255, 0.1) solid 1px;
  font-family: "Consolas" !important;
  border-radius: 5px;
}

.evil-evil-div {
  transform: rotate(10deg);
}

.menhera-footer {
  /* ensures it always stays at the bottom! */
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: var(--footer-background);
  color: white;
  text-align: center;
  /* font-family: "Gotham Rounded Regular"; */
  padding: 15px;
}

.basic-link {
  /* font-family: "Gotham Rounded Regular"; */
  color: rgba(255, 255, 255, .5);
  margin: 5px;
  text-decoration: none;
}

.ourple-link {
  /* font-family: "Gotham Rounded Regular"; */
  color: var(--accent-color);
  margin: 5px;
  text-decoration: none;
}

.ourple-link:hover {
  text-shadow: 1px 1px 4px var(--accent-color);
}

.flex-padding-15 {
  gap: 15px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: solid;
}

.about-me-div {
  display: flex;
  flex-direction: column;
  font-size: x-large;
}

.about-me-links {
  position: relative;
  /* TODO: dont do this ???? */
  top: 15px;
  right: 5px;
}

.build-indicators {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-end;
  gap: 5px;
  justify-content: flex-end;
  bottom: 40px;
  width: 100%;
  left: 15px;
}

.build-indicators-details {
  bottom: 0px !important;
  left: 0px !important;
  right: 15px !important;
}

.build-info {
  position: absolute;
  text-wrap: stable;
  width: 20%;
}

.build-indicator {
  aspect-ratio: 1 / 1;
  border-radius: 100%;
  height: 8px;
  width: 8px;
}

.build-indicator-canary {
  background-color: #faa926;
}

.build-indicator-stable {
  background-color: #5662f6;
}

.build-indicator-ptb {
  background-color: #5662f6;
}

.build-details {
  background-color: var(--build-details-background);
  padding: 15px;
  display: flex;
  flex-direction: column;
  /* background-color: rgba(61,46,66, .5); */
  align-items: center;
  height: fit-content;
  width: 50rem;
}

.build-details-grid {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* grid-template-columns: repeat(auto-fit, 70%); */
  justify-content: left;
  align-content: left;
  gap: 10px;
}

.build-feature {
  /* background-color: red; */
  display: flex;
  height: fit-content;
  flex-direction: column;
  text-align: left;
  align-items: left;
  width: fit-content
}

.build-feature-top {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.build-diff {
  display: none;
  /* display: flex; */
  flex-direction: column;
  text-align: left;
  width: 100% !important;
}

.diff-add {
  background-color: var(--diff-add-background);
}

.diff-change {
  background-color: var(--diff-change-background);
}

.diff-remove {
  background-color: var(--diff-remove-background);
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: fit-content;
  background-color: var(--background-color);
  outline: rgb(129, 129, 129) solid 1px;
  color: #fff;
  text-align: center;
  padding: 15px 15px;
  text-wrap: nowrap;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tracker-selection {
  display: flex;
  flex-direction: column;
  width: 100vh;
  height: 100vh;
}

.horizontal-list {
  display: flex;
  flex-direction: row;
}


.wip-feature {
  background-image: url("assets/img/warning_stripe");
  position: absolute;
  overflow: hidden;
  background: repeating-linear-gradient(45deg,
        #faa9261e,
        #faa9261e 10px,
        #0000001e 10px,
        #0000001e 20px);
  /* -webkit-text-stroke: 1px black; */
  backdrop-filter: blur(10px);
  text-align: center;
  width: 100%;
  padding: 5px;
}

.wip-feature-close-button {
  position: relative;
  cursor: pointer;
  font-size: large;
  font-weight: bold;
}


* {
  color: white;
  /* font-family: "Gotham Rounded Regular"; */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

