<footer class="menhera-footer">
  ©️ Doohickey Corporation ˣ Menhera Incorporated 2024
  <div class="footer-links">
    <a class="basic-link">
      Build <%=build_id%>
    </a>
    —
    <a class="basic-link">
      Built on <%=build_date%>
    </a>
  </div>
</footer>