<div class="menuBar">
  <img class="menhuBar-logo" src="/assets/favicon.png" alt="whoops" width={32} height={32} />
  <a class="menuBarItem" href="/">home</a>
  <a class="menuBarItem" href="/blog">blog</a>
  <a class="menuBarItem" href="/projects">projects</a>
  <a class="menuBarItem" href="/trackers">trackers</a>
</div>