<div class="menuBar">
  <a class="menuBarItem gotham-font" href="/">home</a>
  <a class="menuBarItem gotham-font" href="/blog">blog</a>
  <a class="menuBarItem gotham-font" href="/projects">projects</a>
  <a class="menuBarItem gotham-font" href="/trackers">trackers</a>
</div>