---
import Layout from "../../components/layout.astro";
import wipFeature from "../../components/wipFeature.astro";
---

<Layout isWIPFeature={true}>
  <div class="menhera-div">
    <div class="tracker-selection menhera-div">
      <p>Currently available trackers:</p>
      <div class="horizontal-list">
        <a class="menhera-button" href="/trackers/discord"> Discord </a>
      </div>

      <h3 style="text-align: center;">
        Note: These trackers suck. There's usually a better alternative
        available, and you <i>really</i> should use those alternatives instead of
        this.
      </h3>
    </div>
  </div>
</Layout>
