<p class="page-title page-title-fix-home page-title-critical">error</p>

<div class="menhera-div">
  <div class="error-frame menhera-div">
    <img src="/assets/img/menhera_loading.gif" alt="whoops" width={64} height={64} />
    <p>oops..</p>
    <div class="menhera-button">
      <a href="/">return to home</a>
    </div>
  </div>
</div>