---
import Image from "astro/components/Image.astro";
import Layout from "../components/layout.astro";
import MenheraButton from "../components/menheraButton.astro";
---

<Layout>
  <p class="page-title page-title-fix-home page-title-critical">error</p>

  <div class="menhera-div">
    <div class="error-frame menhera-div">
      <Image
        src="/assets/img/menhera_loading.gif"
        alt="Confused Menhera-chan, with a spinning loading circle on top of her head."
        width={64}
        height={64}
      />
      <p>oops..</p>
      <MenheraButton text="return to home" href="/" smol />
    </div>
  </div>
</Layout>
