---
import Layout from "../components/layout.astro";
import readData from "../util/readData";

const me: any = await JSON.parse(await readData("me.json"));
---

<Layout>
  <p class="page-title page-title-fix-home">home</p>
  <div class="menhera-div flex-padding-15">
    <img
      src="/assets/img/emoji/blobcatcozy.webp"
      width="90"
      height="90"
      alt="Cat version of Google's blob emojis, wrapped up in a cozy blanket."
    />
    <div class="about-me-div make-bold-tag-fancy-pls">
      <div>
        <p>hello !! i'm <b>haruka!</b></p>
        <p>
          im really passionate about game dev, programming and reverse
          engineering!
        </p>
        <p>although i suck at all three.</p>
        <br />
        <p>
          i usually use <b>typescript</b> or <b>lua/luau</b> for my projects
        </p>
        <p>but ocassionally tinker around in other languages as well</p>
        <p>such as <b>c#</b>, <b>c++</b> and <b>🦀rust</b></p>
        <br />
      </div>

      <div class="about-me-links gotham-font">
        links -
        <a class="ourple-link" href="/blog"> /blog </a>
        <a class="ourple-link" href="/projects"> /projects </a>
        <a class="ourple-link" href="/trackers"> /trackers </a>
        <div class="about-me-links gotham-font">
          socials -
          <a class="ourple-link" href={me.fedi_link}> fedi </a>
          <a
            class="ourple-link"
            href={"https://twitter.com/" + me.twitter_handle}
          >
            xitter (aka twitter)
          </a>
          <a
            class="ourple-link"
            href={"https://discord.com/users/" + me.discord_user}
          >
            discord
          </a>

          <a class="ourple-link" href={"https://github.com/" + me.github_user}>
            github
          </a>
        </div>
      </div>
    </div>
  </div>
</Layout>
