<div class="navbar menhera-outline">
  <a class="navbar-button" href="/">home</a>
  <a class="navbar-button" href="/blog">blog</a>
  <a class="navbar-button" href="/projects">projects</a>
  <a class="navbar-button" href="/trackers">trackers</a>
</div>
