<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Haruka's silly little website on the interwebs </title>
  <link rel="stylesheet" href="/style/fonts.css">
  <link rel="stylesheet" href="/style/animation.css">
  <link rel="stylesheet" href="/style/stickers.css">
  <link rel="stylesheet" href="/style/meta.css">


  <link rel="icon" href="/assets/favicon.png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/atom-one-dark.min.css">
  <script src="/scripts/meta.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
</head>

<body class=<% if (typeof foo != undefined) { %>evil<% } %>>
  <div class="full-page gotham-font">
    <%- include(`pages/${page}.ejs`) %>
  </div>

</body>

</html>